# Build results
bin/
obj/
.out/

# Test results
TestResults

# Generated documentation
docs/output/

# User-specific files (VisualStudio)
*.sln.docstates
*.suo
*.user
*.userosscache
.vs/

# User-specific files (XamarinStudio + MonoDevelop)
*.userprefs
.DS_Store
.idea
